#header {
  width: 100%;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #46cd0c;
}

#header h2 {
  color: black;
  font-size: 18px;
}

.my-img-row {
  height: 200px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  color: #46cd0c;
  border: 2px solid #46cd0c;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #46cd0c;
  color: white;
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.landingBtn:hover {
  background: white !important;
  color: #46cd0c !important;
}
